# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Frontend
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 